.container{
    border:  white solid;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

    
    
}
.item{
    border: 5px black solid;
    column-gap: 0.5em;
    row-gap: 0.5em;
    width: 250px;
    height: 250px;

}
#b1{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b2{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b3{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b4{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b5{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b6{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b7{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b8{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b9{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b10{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b11{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b12{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b13{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b14{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b15{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b16{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b17{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b18{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b19{
    background-color: gray;
    width: 75px;
    height: 125px;
}
#b20{
    background-color: gray;
    width: 75px;
    height: 125px;
}